<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.liuyueyi.forum.service.article.repository.mapper.ArticleMapper">

    <sql id="limit">
        <if test="pageParam != null">
            limit #{pageParam.offset}, #{pageParam.limit}
        </if>
    </sql>

    <select id="listArticlesByReadCounts"
            resultType="com.github.liueyueyi.forum.api.model.vo.article.dto.SimpleArticleDTO">
        select rc.document_id as id, a.title as title, a.create_time as createTime
        from read_count as rc left join article as a on rc.document_id = a.id
        where rc.document_type = 1 order by rc.cnt desc
        <include refid="limit"/>
    </select>

</mapper>
