<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.paicoding.forum.service.article.repository.mapper.ArticleTagMapper">

    <select id="listArticleTagDetails" resultType="com.github.paicoding.forum.api.model.vo.article.dto.TagDTO">
        select a.article_id as articleId, a.tag_id as tagId, t.tag_name as tag
        from article_tag as a
                 left join tag as t on a.tag_id = t.id
        where a.article_id = #{articleId}
          and a.deleted = 0
    </select>
</mapper>
