<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.liuyueyi.forum.service.article.repository.mapper.ColumnArticleMapper">

    <sql id="limit">
        <if test="pageParam != null">
            limit #{pageParam.offset}, #{pageParam.limit}
        </if>
    </sql>

    <select id="listColumnArticles" resultType="java.lang.Long">
        select article_id
        from column_article
        where column_id = #{columnId}
        order by `section` asc
    </select>

    <select id="getColumnArticle" resultType="java.lang.Long">
        select article_id from column_article where column_id = #{columnId} and `section` = #{section} limit 1
    </select>

    <select id="countColumnReadUserNums" resultType="java.lang.Long">
        select count(distinct u.user_id) from column_article as a left join user_foot as u on a.article_id = u.document_id
        where u.document_type = 1 and u.read_stat = 1 and a.column_id = #{columnId}
    </select>
</mapper>
