<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div th:replace="components/layout/header :: head(~{::title}, ~{}, ~{})">
    <title th:text="${global.siteInfo.websiteName}">
        派聪明 | 技术派
    </title>
</div>

<link rel="stylesheet" href="/css/views/chat-home.css"/>

<body id="body">
<!-- 导航栏 -->
<div th:replace="components/layout/navbar :: navbar"></div>
<div class="custom-home">
    <div class="chat-wrap">
        <div class="chat-sidebar">
            <div class="chat-list">对话列表</div>
            <div class="chat-settings">设置</div>
        </div>

        <div class="chat-main">
            <div class="chat-display">
                <div class="chat-message">
                    <div class="message-content" id="chat-content">
                    </div>
                </div>
            </div>

            <div class="chat-input">
                <textarea id="input-field" class="form-control" rows="3" placeholder="你好，我是派聪明，快来撩我呀"></textarea>
                <button id="send-btn">
                    <div class="button_icon-button-icon__qlUH3 no-dark">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" fill="none"><defs><path id="send-white_svg__a" d="M0 0h16v16H0z"></path></defs><g><mask id="send-white_svg__b" fill="#fff"><use xlink:href="#send-white_svg__a"></use></mask><g mask="url(#send-white_svg__b)"><path transform="translate(1.333 2)" d="M0 4.71 6.67 6l1.67 6.67L12.67 0 0 4.71Z" style="stroke: rgb(255, 255, 255); stroke-width: 1.33333; stroke-opacity: 1; stroke-dasharray: 0, 0;"></path><path transform="translate(8.003 6.117)" d="M0 1.89 1.89 0" style="stroke: rgb(255, 255, 255); stroke-width: 1.33333; stroke-opacity: 1; stroke-dasharray: 0, 0;"></path></g></g></svg>
                    </div>
                    <div class="button_icon-button-text__k3vob">开撩</div>
                </button>
            </div>
        </div>
    </div>
    <!-- 底部信息 -->
    <div th:replace="components/layout/footer :: footer"></div>
</div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.5/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<script th:inline="javascript">
    let ws = null;
    const inputField = $("#input-field");
    const sendBtn = $(".button_icon-button-text__k3vob");

    function initWs() {
        // 建立会话
        ws = new WebSocket("ws://localhost:8080/chatgpt");
        ws.onopen = function () {
            // 建立连接
            console.log("ws连接成功");
        }

        ws.onmessage = function (message) {
            // 接受到消息
            console.log("接受消息: " + message.data);
            const messageElement = $('<div class="card mb-2 bg-light"><div class="card-body">' + event.data + '</div></div>');
            $("#chat-content").append(messageElement);
        }

        ws.onclose = function (e) {
            console.log("ws中断");
            ws = null;
            // 提醒用户重新连接
            inputField.attr("disabled", "disabled").val("连接中断，点击右侧按钮重连");
            sendBtn.text("重撩");
        }
    }

    // 页面加载完成后，执行 initWs
    $(function () {
        initWs();
    });

    function doSend() {
        if (ws.readyState === WebSocket.OPEN) {
            const qa = inputField.val();
            ws.send(qa);
            // 清空 textarea
            inputField.val("");

            const messageElement = $('<div class="card mb-2"><div class="card-body">' + qa + '</div></div>');
            $("#chat-content").append(messageElement);
        } else if (ws.readyState === WebSocket.CONNECTING) {
            // depending on your use case. I believe in you developer!
            ws.addEventListener('open', () => doSend())
        }
    }


    $("#send-btn").click(function () {
        if (ws == null || ws.readyState === WebSocket.CLOSED || ws.readyState === WebSocket.CLOSING) {
            initWs();
            inputField.removeAttr("disabled");
            sendBtn.text("开撩");
        } else {
            doSend();
        }
    });

    inputField.keydown(function (e) {
        if (e.keyCode === 13) {
            // 回车监听
            doSend();
            // 阻止默认行为
            e.preventDefault();
        }
    });
</script>
</html>
