<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<link href="/css/notifycation.css" rel="stylesheet">
<div th:replace="layout/header :: head(~{::title}, ~{}, ~{})">
    <title th:text="${global.siteInfo.websiteName}">QuickFrom社区</title>
</div>

<body id="body">
<!-- 导航栏 -->
<div th:replace="layout/navbar :: header"></div>

<!-- 正文内容 -->
<div th:replace="layout/container :: container_all(~{::content})">
    <content>
        <!-- 文章列表 -->
        <div th:fragment="category(list)" class="card"
             style="margin-bottom: 0;border-bottom: 1px solid rgba(0,0,0,.125);">
            <div class="card-body d-flex align-content-start flex-wrap type-box">
                <a th:each="type: ${vo.unreadCountMap}"
                   th:href="'/notice/' + ${type.key}"
                   th:class="'btn' + ${#strings.equalsIgnoreCase(type.key,vo.selectType) ? ' btn-primary ': ''}"
                   th:text="${T(com.github.liueyueyi.forum.api.model.enums.NotifyTypeEnum).typeOf(type.key).getMsg()}">
                    <small th:text="${type.value}">未读数</small>
                </a>
            </div>
        </div>
        <div class="container-bg-light" style="min-height: 700px;margin-bottom: 20px;">
            <div class="center">
                <div id="itemList">
                    <div th:replace="biz/notice/notify-comment"></div>
                    <div th:replace="biz/notice/notify-reply"></div>
                    <div th:replace="biz/notice/notify-praise"></div>
                    <div th:replace="biz/notice/notify-collect"></div>
                    <div th:replace="biz/notice/notify-follow"></div>
                    <div th:replace="biz/notice/notify-system"></div>
                </div>
                <button th:if="${vo.list.hasMore}" id="loadMoreTag" type="button"
                        class="btn btn-outline-primary btn-lg btn-block" th:text="加载更多">
                </button>
            </div>
        </div>
    </content>
</div>

<!-- 底部信息 -->
<div th:replace="layout/footer :: footer"></div>
<script th:inline="javascript">
    const selectType = [[${vo.selectType}]].toLowerCase()
    const params = {
        "type": selectType,
        "page": 2
    }
    nextPage("/notice/api/items", params, 'itemList', 'loadMoreTag', function () {
        params['page'] = params['page'] + 1;
    })
</script>
</body>
</html>