<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head(title, links, scripts)">
    <title
      th:replace="${title}"
      th:text="${global.siteInfo == null ? '' : global.siteInfo.websiteName}"
    >
      技术派
    </title>
    <meta
      name="keywords"
      content="技术派,开源社区,java,spring boot,IT,程序员,开发者,mysql,redis,Java基础, 多线程, JVM, 虚拟机, 数据库, MySQL, Spring, Redis, MyBatis, 系统设计, 分布式, RPC, 高可用, 高并发"
    />
    <meta name="description" content="一款好用又强大的开源社区，附详细教程，包括Java、Spring、MySQL、Redis、操作系统、计算机网络、数据结构与算法等计算机专业核心知识点。学编程，就上技术派" />
    <meta property="og:url" th:content="${global.siteInfo.host}">
    <meta property="og:site_name" content="技术派">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="zh-CN">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no"
    />

    <link rel="icon" href="/img/icon.png" />
    <link href="/css/three/index.css" rel="stylesheet" />
    <link href="/css/global.css" rel="stylesheet" />
    <link
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-light.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/common.css" />
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?2745ad927051c4bc7b7ee34b781df793";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/toastr.min.js"></script>
    <script src="/js/jquery.scrollUp.min.js"></script>
    <script src="/js/md5.min.js"></script>
    <script src="/js/marked.min.js"></script>
    <script src="/editormd/editormd.js"></script>
    <script src="/js/select2.full.min.js"></script>
    <script src="/js/biz/forum.js"></script>
    <script src="/js/biz/loadMore.js"></script>
    <script src="/js/biz/toolaction.js"></script>
    <script src="/js/biz/login.js"></script>
    <script src="/js/biz/select2.zh_CN.js"></script>

    <th:block th:replace="${links}" />
    <th:block th:replace="${scripts}" />
  </head>
</html>
