<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head(title, links, scripts)">
    <title
      th:replace="${title}"
      th:text="${global.siteInfo == null ? '' : global.siteInfo.websiteName}"
    >
      技术派
    </title>
    <meta name="baidu-site-verification" content="codeva-mbGuu7l4Q1" />
    <meta
      name="keywords"
      content="技术派,开源社区,java,spring boot,IT,程序员,开发者,mysql,redis"
    />
    <meta name="description" content="技术派" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no"
    />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <meta name="robots" content="all">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta th:each="tag: ${global.seo}" th:attr="content=${tag.val}" th:property="${tag.key}"/>
    <link rel="icon" href="/img/icon.png" />
    <link href="/css/three/index.css" rel="stylesheet" />
    <link href="/css/global.css" rel="stylesheet" />
    <link
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-light.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/common.css" />
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?2745ad927051c4bc7b7ee34b781df793";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/toastr.min.js"></script>
    <script src="/js/jquery.scrollUp.min.js"></script>
    <script src="/js/md5.min.js"></script>
    <script src="/js/marked.min.js"></script>
    <script src="/editormd/editormd.js"></script>
    <script src="/js/select2.full.min.js"></script>
    <script src="/js/biz/forum.js"></script>
    <script src="/js/biz/loadMore.js"></script>
    <script src="/js/biz/toolaction.js"></script>
    <script src="/js/biz/login.js"></script>
    <script src="/js/biz/select2.zh_CN.js"></script>

    <th:block th:replace="${links}" />
    <th:block th:replace="${scripts}" />
  </head>
</html>
