<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<div th:replace="layout/header :: head(~{::title}, ~{}, ~{})">
    <title th:text="${global.siteInfo.websiteName}">QuickFrom社区</title>
</div>

<body id="body">
<!-- 专栏详情 -->
<div th:replace="layout/navbar :: navbar"></div>

<div th:replace="layout/container :: container_all(~{::content})">
    <content>
        <div class="book-info">
            <div class="poster">
                <img th:src="${vo.cover}">
            </div>
            <div class="info">
                <div class="title-line text-line-2">
                    <a th:href="'/column/' + ${vo.columnId}" class="title">
                        <span th:title="${vo.column}" th:text="${vo.column}">
                            分布式专栏
                        </span>
                    </a>

                </div>
                <div class="media">
                    <div th:title="${vo.introduction}" th:text="${vo.introduction}" class="desc text-line-2">
                        描述信息
                    </div>
                    <div class="author">
                        <div class="author-info">
                            <a th:href="'/user/' + ${vo.author}" target="_blank" rel="" class="user">
                                <img th:src="${vo.authorAvatar}" alt="" class="lazy avatar hero" loading="lazy">
                                <a th:href="'/user/' + ${vo.author}" target="_blank" rel="" class="username username">
                                    <span class="name" style="max-width: 128px;" th:text="${vo.authorName}">
                                       一灰灰
                                    </span>
                                </a>
                            </a>
                        </div>
                        <div class="author-desc">
                            <span th:text="${vo.authorProfile}" class="desc">
                                资深搬砖
                            </span>
                        </div>
                    </div>
                </div>
                <div class="other">
                    <div class="not-buy" style="padding-bottom: 30px;">
                        <a th:href="'/column/' + ${vo.column} + '/1'"
                           class="button--write">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg" class="apply-icon">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M19.7143 3.47656C20.4264 3.47656 21 4.05618 21 4.76675V16.9395C21 17.4978 20.6419 17.9942 20.0972 18.1711L12.3776 20.5429C12.1315 20.6185 11.8685 20.6185 11.6224 20.5429L3.88956 18.167C3.3581 17.9942 3 17.4978 3 16.9395V4.76675C3 4.05618 3.57363 3.47656 4.28571 3.47656C4.42025 3.47656 4.55392 3.49775 4.66822 3.53502L12 5.78316L19.3181 3.53933C19.4461 3.49775 19.5798 3.47656 19.7143 3.47656ZM4.7141 5.34079V16.6258L11.1427 18.6008V7.31226L4.7141 5.34079ZM12.859 7.31183L19.2875 5.34079V16.6259L12.859 18.6008V7.31183Z"
                                      fill="#1E80FF">
                                </path>
                            </svg>
                            <div class="title">
                                开始学习
                            </div>
                        </a>
                    </div>
                    <div class="right-side" style="color: rgb(81, 87, 103);">
                        <div class="learn-people" th:text="${vo.count.collectionCount} + ' 人添加收藏'">
                            260 人添加收藏
                        </div>
                        <div class="byte-divider byte-divider--vertical" style="background: rgb(81, 87, 103);">
                        </div>
                        <div class="learn-duration" th:text="${vo.count.articleCount} + ' 小节'">
                            29 小节
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </content>
</div>

<div th:replace="layout/footer :: footer"></div>
</body>
</html>