<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div th:replace="layout/header :: head(~{::title}, ~{}, ~{})">
    <title th:text="${global.siteInfo.websiteName}">QuickFrom社区</title>
</div>
<style>
    .home {
        overflow: auto;
        padding-top: 20px;
        height: calc(100vh - 60px);
    }

    .home-wrap {
        margin: 0 auto;
        width: 80%;
        display: flex;
        margin-bottom: 20px;
        min-height: calc(100% - 90px);
    }

    .home-body {
        flex: 1;
        margin-right: 20px;
        border-radius: 8px;
    }

    .home-right {
        width: 30%;
        border-radius: 20px;
    }
</style>
<body id="body">
<!-- 导航栏 -->
<div th:replace="layout/navbar :: navbar"></div>

<!-- 正文内容 -->
<div class="home">
    <div class="home-wrap">
        <div class="home-body">
            <!-- 文章列表 -->
            <div class="container-bg-light">
                <div id="articleList">
                    <div th:replace="biz/column/list">专栏列表</div>
                </div>
                <button
                        th:if="${vo.columns.hasMore}"
                        id="loadMoreTag"
                        type="button"
                        class="btn btn-outline-primary btn-lg btn-block"
                        th:text="加载更多"
                ></button>
            </div>
        </div>

        <div class="home-right">
            <div th:if="${!#lists.isEmpty(vo.sideBarItems)}">
                <div th:replace="biz/article/sidebars"></div>
            </div>
        </div>
    </div>
    <!-- 底部信息 -->
    <div th:replace="layout/footer :: footer"></div>
</div>

</div>


<script th:inline="javascript">
</script>
</body>
</html>
