<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="select_tag(list, userId)" class="card">
    <div class="card-body d-flex align-content-start flex-wrap type-box">
      <a
        th:each="selectTag : ${list}"
        th:text="${selectTag.selectDesc}"
        th:href="${'?' + 'userId=' + userId + '&homeSelectType=follow&followSelectType=' + selectTag.selectType}"
        th:class="${'follow-select-tag ' + (selectTag.selected ? 'follow-select-tag-active' : '')}"
      >
        关注用户/粉丝
      </a>
    </div>
  </div>
</html>
