<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<div class="article-heart bg-color-white"
     th:fragment="praise(article)">
    <div id="praiseBtn"
         th:class="'praise-box ' + ${article.praised ? ' active': ''} "
         th:data-target="${global.isLogin ? '' : '#loginModal'}"
         th:data-toggle="${global.isLogin ? '' : 'modal'}">
        <svg class="sprite-icon icon-zan">
            <use xlink:href="#icon-zan"></use>
        </svg>
    </div>

    <div class="praise-photos">
        <p class="approval-tips-line"
           id="praiseDesc"
           data-defult-text="真诚点赞 诚不我欺"
           th:text="${vo.article.count.praiseCount > 0} ? ${vo.article.count.praiseCount} + '人已点赞' : '真诚点赞 诚不我欺' ">
            真诚点赞 诚不我欺
        </p>
        <div class="approval-box" id="praiseUsers">
            <a class="g-user-popover approval-img" th:href="'/user/' + ${item.userId}"
                  th:each="item: ${vo.article.praisedUsers}">
                <img th:src="${item.avatar}">
            </a>
        </div>
    </div>
</div>