<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head(title, links, scripts)">
    <title
      th:replace="${title}"
      th:text="${global.siteInfo == null ? '' : global.siteInfo.websiteName}"
    >
      技术派
    </title>
    <meta
      name="keywords"
      content="技术派,开源社区,java,spring boot,IT,程序员,开发者,mysql,redis"
    />
    <meta name="description" content="技术派" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no"
    />

    <link rel="icon" href="/img/icon.png" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/toastr.min.css" rel="stylesheet" />
    <link href="/css/global.css" rel="stylesheet" />
    <link
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-light.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/simplemde.min.css" />
    <link rel="stylesheet" href="/css/common.css" />

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/toastr.min.js"></script>
    <script src="/js/jquery.scrollUp.min.js"></script>
    <script src="/js/md5.min.js"></script>
    <script src="/js/marked.min.js"></script>
    <script src="/js/biz/forum.js"></script>
    <script src="/js/biz/loadMore.js"></script>
    <script src="/js/biz/toolaction.js"></script>
    <script src="/js/biz/login.js"></script>
    <script src="/js/simplemde.min.js"></script>

    <th:block th:replace="${links}" />
    <th:block th:replace="${scripts}" />
  </head>
</html>
