<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <!-- 用户卡片 -->
  <div class="card" th:fragment="user_achievement(user)">
    <div class="card-body achievement-wrap">
      <div class="achievement-title" th:text="${'个人成就'}">标题</div>
      <div class="achievement-item">
        已发布文章
        <span th:text=" ${user.articleCount} + ' 篇'"></span>
      </div>
      <div class="achievement-item">
        文章被点赞
        <span th:text=" ${user.praiseCount} + ' 篇'"></span>
      </div>
      <div class="achievement-item">
        文章被阅读
        <span th:text="${user.readCount} + ' 篇'"></span>
      </div>
      <div class="achievement-item">
        文章被收藏
        <span th:text="${user.collectionCount} + ' 篇'"></span>
      </div>
    </div>
  </div>
</html>
