<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<!-- 侧边栏 精选教程 -->
<section class="pdf home-right-item-wrap relative com-2-panel J-specialTopicPanel"
         th:fragment="side_pdf(side)">
    <img class="w-full pdf-bg" src="/img/sidebar-hot-bg.png" th:src="${global.siteInfo.oss + '/img/sidebar-hot-bg.png'}"/>
    <div class="column-content">
        <div class="home-right-item-title absolute">
            <h5 class="com-2-panel-title"
                 th:text="${side.title}">精选教程</h5>
        </div>
        <div class="home-right-item-post-list com-2-panel-bd">
            <ul class="com-2-side-topics without-margin">
                <li th:each="item : ${side.items}">
                    <a th:href="${item.url}"
                       class="com-media com-side-topic">
                        <div class="com-media-object">
                            <span class="com-thumbnail"
                                  th:style="'background-image:url('+${item.img}+')'">
                            </span>
                        </div>
                        <div class="com-media-body rank-box-item-right">
                            <div class="com-side-topic-title">
                                <span class="column-title"
                                      th:text="${item.name}"></span>
                            </div>
                            <div class="ebook-home-stars d-flex" th:if="${item.visit != null}">
                                <div class="ebook-def-star">
                                    <div class="ebook-cur-star" style="width: 91.0%;" th:style="'width: ' + ${T(java.lang.Float).parseFloat(item.visit.rate) * 100} + '%;'"></div>
                                </div>
                                <div class="ebook-star-count" th:text="${item.visit.rate}">9.1</div>
                            </div>
                            <div class="ebook-home-info d-flex">
                                <div class="ebook-home-view" th:text="${item.visit.visit} + ''">2465860</div>
                                <div class="ebook-home-download" th:text="${item.visit.download} + ''">12455</div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
