<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <!-- 侧边栏 -->
  <div class="hot-article home-right-item-wrap relative" th:fragment="side_rank(side)">
    <img class="w-full hot-article-bg" src="/img/sidebar-hot-bg.png" th:src="${global.siteInfo.oss + '/img/sidebar-hot-bg.png'}"/>
    <div class="hot-article-content">
      <div class="home-right-item-title absolute">
        <a href="/rank/month">
          <div class="com-2-panel-title">
            <span th:text="${side.title}">排行榜</span>
            <small> >>> </small>
          </div>
        </a>
      </div>
      <div class="home-right-item-article-list">
        <a
          th:href="'/user/' + ${item.url}"
          class="home-right-item-article-item"
          th:each="item, itemStat : ${side.items} "
        >
          <i th:text="${T(java.lang.String).format('%2d', itemStat.index + 1)}">
            01
          </i>
          <div class="home-right-item-article-title-txt" th:text="${item.name}">
            用户
          </div>
          <div class="home-right-item-article-title-txt" style="font-style: italic" th:text="'(' + ${item.time} + ')'">
            评分
          </div>
        </a>
      </div>
    </div>
  </div>
</html>
