<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<!-- 侧边栏 -->
<div class="home-right-item-wrap p-0" th:fragment="side_subscribe(side)">
    <div class="cdc-card mod-subscribe">
        <div class="cdc-card__inner">
            <div class="cdc-card__hd">
                <div class="cdc-card__title" th:text="${side.title}">订阅</div>
            </div>
            <div class="cdc-card__bd">
                <div class="cdc-card__bd">
                    <div class="mod-subscribe__title" th:text="${side.subTitle}"></div>
                    <div class="mod-subscribe__content">
                        <div class="mod-subscribe__content-tag">你将获得</div>
                        <div class="mod-subscribe__content-inner">
                            <div class="mod-subscribe__content-detail">
                                <div class="mod-subscribe__content-prize"
                                     th:text="${side.content}">10元无门槛代金券</div>
                            </div>
                            <div class="mod-subscribe__content-qr">
                                <img th:src="${global.siteInfo.contactMeWxQrCode}" th:alt="${side.subTitle}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mod-subscribe__image" th:if="${side.url}">
                <a th:href="${side.url}" target="_blank">
                    <img th:src="${side.img}" alt="订阅图片">
                </a>
            </div>
        </div>
    </div>
</div>