<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div th:replace="layout/header :: head(~{::title}, ~{}, ~{})">
    <title th:text="${global.siteInfo.websiteName}">QuickFrom社区</title>
</div>

<body id="body">
<!-- 导航栏 -->
<div th:replace="layout/navbar :: navbar"></div>

<!-- 正文内容 -->
<div class="home">
    <!-- 类别筛选 -->
    <div th:replace="plugins/categories :: category(${vo.categories})"></div>
    <div th:replace="plugins/article/recommend-articles">精选列表</div>

    <div class="home-wrap">
        <div class="home-inter-wrap">
            <div class="home-body">
                <div id="articleList" class="cdc-article-panel__list">
                    <div th:replace="biz/article/list" class="test">文章列表</div>
                </div>
            </div>

            <div class="home-right">
                <!-- 侧边公告 -->
                <div th:if="${!#lists.isEmpty(vo.sideBarItems)}">
                    <div th:replace="biz/article/sidebars"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部信息 -->
    <div th:replace="layout/footer :: footer"></div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/biz/loadMore.js"></script>
<script src="/js/toastr.min.js"></script>
<script src="/js/md5.min.js"></script>
<script src="/js/biz/forum.js"></script>
<script th:inline="javascript">
    const archiveId = [[${vo.categoryId}]]
    const category = [[${ vo.currentCategory }]]
    const params = {
        "category": category ? category : '全部',
        "page": 2
    }
    loadMore(".home", '/article/api/list/category/' + archiveId, params, "articleList");
</script>
</body>

</html>