
.detail-content-title {
  color: rgba(0, 0, 0, 0.85);
  font-size: 26px;
  line-height: 31px;
  vertical-align: bottom;
  margin-bottom: 12px;
}

.detail-content-title-other-wrap {
  font-size: 14px;
  display: flex;
  align-items: center;
  color: var(--pai-color-999-gray);
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--pai-hr-color-1);
}

.detail-content-title-other-img {
  height: 22px;
  width: 22px;
  border-radius: 50%;
}
.detail-content-title-other-name {
  color: #62749f;
  margin-left: 8px;
  margin-right: 16px;
}
.detail-content-title-other-time {
  margin-right: 16px;
}

.detail-content-title-other-look {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 28px;
  padding: 0 11px;
  height: 20px;
  border-radius: 20px;
  font-size: 12px;
  color: #3973ff;
  border: 1px solid #3973ff;
  cursor: pointer;
}

.com-opt-link,
.com-opt-text {
  display: inline-block;
  vertical-align: middle;
  color: var(--pai-color-999-gray);
}

[class*="com-i-"],
[class^="com-i-"] {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-size: 100% auto;
}

.com-opt-link:hover .com-i-edit,
.com-opt-link:hover .com-i-delete {
  fill: var(--pai-brand-2-hover);
}

.com-opt-link .com-i-edit,
.com-opt-link .com-i-delete {
  fill: var(--pai-color-999-gray);
}

.detail-content-title-edit [class*="com-i-"],
.detail-content-title-edit [class^="com-i-"] {
  position: relative;
}

.detail-content-title-edit {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 20px;
}

/* home 适配 */
@media screen and (max-width: 768px) {
  .layout-side,
  .article-suspended-panel {
    display: none !important;
  }
  .layout-main {
    padding: 0 !important;
  }
  .article-suspended-panel-md {
    visibility: visible;
  }
  .foot {
    margin-bottom: 72px;
  }
}

