.chat-wrap {
    display: flex;
    margin: 10px;
}

.chat-sidebar {
    width: 30%;
    padding: 10px;
    border-right: 1px solid #ddd;
    height: calc(100vh - 159px);
    overflow-y: auto;
}

.chat-sidebar h2 {
    color: #333;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.chat-main {
    width: 70%;
    padding: 10px;
}

.chat-display {
    border: 1px solid #ddd;
    height: calc(100vh - 240px);
    padding: 10px;
    overflow-y: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.chat-input {
    display: flex;
    position: relative;
}

#input-field {
    height: 60px;
    resize: none;  /* 禁止手动改变大小 */
    padding: 10px 90px 10px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#input-field:focus  {
    border: 1px solid var(--pai-brand-3-click);
    outline: none;
    box-shadow: none;
}

#send-btn {
    background-color: var(--pai-brand-1-normal);
    color: #fff;
    position: absolute;
    right: 16px;
    bottom: 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    transition: all .3s ease;
    overflow: hidden;
    user-select: none;
    outline: none;
    border: none;
}

.button_icon-button-icon__qlUH3 {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_icon-button-text__k3vob {
    margin-left: 5px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#send-btn:hover {
    background-color: var(--pai-brand-2-hover);
}