<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div th:replace="layout/header :: head(~{::title}, ~{}, ~{})">
    <title th:text="${global.siteInfo.websiteName}">QuickFrom社区</title>
</div>

<body id="body">
<!-- 导航栏 -->
<div th:replace="layout/navbar :: navbar"></div>

<!-- 正文内容 -->
<div class="home">
    <div class="home-wrap">
        <div class="home-body">
            <!-- 文章列表 -->
            <div class="container-bg-light">
                <div id="articleList">
                    <div th:replace="biz/article/list">文章列表</div>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部信息 -->
    <div th:replace="layout/footer :: footer"></div>
</div>
<script src="/js/biz/loadMore.js"></script>
<script th:inline="javascript">
    const archiveId = [[${ vo.archiveId }]]
    const params = {
        "page": 2
    }
    loadMore('.home', '/article/api/list/category/' + archiveId, params, "articleList");
</script>
</body>

</html>