<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<link href="/css/content.css" rel="stylesheet">

<div th:replace="layout/header :: head(~{::title}, ~{}, ~{})">
    <title th:text="${global.siteInfo.websiteName}">QuickFrom社区</title>
</div>

<body id="body">
<!-- 导航栏 -->
<div th:replace="layout/navbar :: header"></div>

<div th:replace="layout/container :: container_right_sidebar(~{::left}, ~{::right})">
    <left>
        <!-- 这里显示cover -->
        <div th:if="${!#strings.isEmpty(vo.article.cover)}"
             class="carousel slide">
            <div class="carousel-inner">
                <img th:src="${vo.article.cover}" src="https://spring.hhui.top/spring-blog/imgs/220425/logo.jpg"
                     class="img-fluid"/>
            </div>
        </div>

        <!-- 侧边tool -->
        <div th:replace="plugins/article-tool-bar :: tool_bar(${vo.article})"></div>
        <!-- 正文 -->
        <content>
            <div th:replace="plugins/article-info :: article_info(${vo.article}, ${vo.author})"></div>
        </content>

        <content>
            <div th:replace="plugins/comment-list :: comment_list(${vo.comments}, ${vo.article})"></div>
        </content>
    </left>
    <right>
        <!-- 用户相关信息 -->
        <div th:replace="plugins/user-card :: user_card(${vo.author})"></div>

        <!-- 公告 -->
        <div th:if="${!#lists.isEmpty(sideBarItems)}"
             th:each="item : ${sideBarItems}">
            <div th:replace="plugins/normal-card :: normal_card(${item})"/>
        </div>

        <!--  推荐阅读  -->
        <!--  作者其他博文  -->
    </right>
</div>

<div th:replace="layout/footer :: footer"></div>
<script src="/js/marked.min.js"></script>
<script src="/js/biz/toolaction.js"></script>
<script th:inline="javascript">
    // 内容渲染
    const articleId = [[${vo.article.articleId}]];
    const content = [[${vo.article.content}]];
    document.getElementById('articleContent').innerHTML = marked.parse(content);
    // 文章样式渲染
    document.addEventListener('DOMContentLoaded', function (event) {
        if (document.querySelectorAll('pre code').length === 0) {
            return;
        }

        // 加载 highlight 样式文件
        loadLink('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-light.min.css');
        // 加载 highlight 脚本文件
        loadScript('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js', function () {
            document.querySelectorAll('pre code').forEach(function (block) {
                hljs.highlightBlock(block);
            });
        });
    });

    <!-- 评论相关 -->
    const commentContent = $("#commentContent");
    commentContent.on('input propertychange', function () {
        const val = $(this).val();
        if (val) {
            $("#commentBtn").attr("disabled", false);
        } else {
            $("#commentBtn").attr("disabled", true);
        }
    });

    // 直接评论
    const commentBtn = $("#commentBtn");
    commentBtn.click(function () {
        const content = commentContent.val();
        if (!content || content.length > 512) {
            toastr.error("评论内容长度要求在[1,512]之间");
            return;
        }
        // 提交评论
        const params = {
            // 文章id
            "articleId": articleId,
            // 评论内容
            "commentContent": content
        };
        post("/comment/api/post", params, function (data) {
            location.reload();
        })
    });

    // 回复评论
    const replyContent = $('#replyContent');
    const replyBtn = $('#replyBtn');
    $('.reply-comment').on('click', function (e) {
        $('#commentModalDropLabel').html('回复 ' + this.dataset.replyNickname);
        $('#repliedContent').html(this.dataset.replyContent);
        replyContent.attr('placeholder', '回复' + this.dataset.replyNickname);
        // 回复的评论ID
        replyBtn.attr('data-reply-id', this.dataset.replyId);
        // 回复的一级评论ID
        replyBtn.attr('data-reply-top', this.dataset.replyTop);
    });

    replyBtn.on('click', function () {
        if (!replyContent.val()) {
            toastr.error('回复内容不能为空');
            return;
        }
        // 提交评论
        const params = {
            // 文章id
            "articleId": $('#postsTitle').attr("data-id"),
            // 评论内容
            "commentContent": replyContent.val(),
            // 回复的评论id
            "parentCommentId": replyBtn.attr('data-reply-id'),
            // 回复的一级评论id
            "topCommentId": replyBtn.attr('data-reply-top')
        };
        post("/comment/api/post", params, function (data) {
            location.reload();
        })
    });

    // 跳转到评论的地方
    $("#commentFloatBtn").click(function () {
        document.getElementById("commentList").scrollIntoView(true);
    })

    // 点赞
    let praisedCount = [[${vo.article.count.praiseCount}]]
    let praised = [[${vo.article.praised}]]
    const isLogin = [[${global.isLogin}]]
    $("#praiseFloatBtn").click(function () {
        console.log("登录了么！");
        if (!isLogin) {
            // 未登录，不执行相关操作
            return;
        }

        praised = !praised;

        praiseArticle(articleId, praised, function (data) {
            if (praised) {
                // 点赞
                praisedCount += 1;
                $("#praiseFloatBtn").addClass("active")
            } else {
                praisedCount -= 1;
                $("#praiseFloatBtn").removeClass("active")
            }

            if (praisedCount > 0) {
                $("#praiseFloatBtn").addClass("with-badge")
                $('#praiseFloatBtn').attr("badge", praisedCount)
            } else {
                $("#praiseFloatBtn").removeClass("with-badge")
                $('#praiseFloatBtn').removeAttr("badge")
            }
        });
    })

</script>
</body>
</html>