<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div th:replace="layout/header :: head(~{::title}, ~{}, ~{})">
    <title th:text="${global.siteInfo.websiteName}">QuickFrom社区</title>
</div>

<body id="body">
<!-- 导航栏 -->
<div th:replace="layout/navbar :: header"></div>

<!-- 正文内容 -->
<div th:replace="layout/container :: container_all(~{::content})">
    <!-- 文章列表 -->
    <content>
        <div class="container-bg-light"
             style=";min-height: 700px;margin-bottom: 20px;">
            <div th:each="article : ${articles.articleList}">
                <div th:replace="plugins/article-card :: article_card(${article})">
                    正文
                </div>
            </div>

            <div th:if="${#lists.isEmpty(articles.articleList)}">
                <a>没有查询到任何记录。</a>
            </div>
        </div>
    </content>
</div>


<!-- 底部信息 -->
<div th:replace="layout/footer :: footer"></div>
</body>
</html>