.article-list-wrap {
  padding-bottom: 0;
}
.article-wrap {
  border-bottom: 1px solid #e5e6eb;
  display: flex;
  color: #86909c;
  cursor: pointer;
}
.article-title-wrap {
  display: flex;
  font-size: 13px;
}
.article-title-other {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.article-title-other-name {
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.article-title {
  width: 60%;
}
.article-title-name {
  color: #4e5969;
}

.article-cell {
  color: #e5e6eb;
  padding: 0 8px;
}

.article-item-tags {
  margin: 12px 0;
}

.article-tag-name {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  background: rgba(0,0,0,.05);
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  padding: 4px 12px;
  border-radius: 50px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.article-title-img {
  height: 38px;
  width: 38px;
  margin-right: 8px;
  border-radius: 50%;
}

.article-item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #1d2129;
  margin-bottom: 8px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.article-item-content {
  font-size: 16px;
  line-height: 22px;
  color: #333;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: 8px;
}

.article-other-wrap {
  margin-bottom: 12px;
  font-size: 13px;
}

.article-img {
  width: 120px;
  height: 80px;
}

.article-img-wrap {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}
