.home-nav-classify {
  background-color: #fff;
}
.category--item {
  padding: 8px 24px;
  color: #71777c;
  font-weight: 500;
}
.category--item:first-child {
  padding-left: 0;
}
.category--active {
  color: #007fff;
}
.category-wrap {
  width: 1200px;
  margin: 0 auto;
  padding: 12px 0;
}
