.article-content img {
    max-width: 100%;
    max-height: 500px;
    box-sizing: content-box;
    background-color: #fff;
    margin: 0 auto;
}

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5 {
    color: #333;
    margin-bottom: 10px;
    padding-bottom: 7px;
}

.article-content h1 {
    border-bottom: 1px solid #eaecef;
    font-size: 1.7em;
}

.article-content h2 {
    font-size: 1.5em;
}

.article-content h3 {
    font-size: 1.3em;
}

.article-content h4 {
    font-size: 1.1em;
}

.article-content h5 {
    font-size: 1em;
}

.article-content p,
.article-content ol,
.article-content ul,
.article-content table,
.article-content pre,
.article-content blockquote {
    /* font-weight: 400; */
    line-height: 1.8;
    margin-bottom: 15px;
}

.article-content blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: .25em solid #dfe2e5;
}

.article-content ol,
.article-content ul {
    padding-left: 20px;
}

.article-content table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 14px;
}

.article-content table th,
.article-content table tr,
.article-content table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

.article-content pre {
    padding: 5px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #fafafa;
    border-radius: 3px;
    word-wrap: normal;
}

.article-content pre div {
    background-color: #fafafa;
}

.article-content li {
    /* font-weight: 400; */
    line-height: 1.4;
    font-size: 15px;
    margin-bottom: 5px;
}

.article-content .hljs-center {
    text-align: center;
}

.article-content .hljs-left {
    text-align: left;
}

.article-content .hljs-right {
    text-align: right;
}

.article-suspended-panel {
    position: fixed;
    margin-left: -7rem;
    top: 140px;
    z-index: 2;
}

.panel-btn {
    position: relative;
    margin-bottom: 1.667rem;
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.04);
    cursor: pointer;
    text-align: center;
    font-size: 1.67rem
}

.panel-btn .sprite-icon {
    color: #8a919f;
    height: 100%
}

.panel-btn:hover .sprite-icon {
    color: #515767
}

.panel-btn:not(.share-btn).active .sprite-icon {
    color: #1e80ff
}

.panel-btn:not(.share-btn).active .sprite-icon.icon-collect {
    color: #ffb800
}

.panel-btn:not(.share-btn).active .sprite-icon {
    color: #1e80ff;
}


.panel-btn:not(.share-btn).active.with-badge:after {
    background-color: #1e80ff
}

.panel-btn.with-badge:after {
    content: attr(badge);
    position: absolute;
    top: 0;
    left: 75%;
    height: 17px;
    line-height: 17px;
    padding: 0 5px;
    border-radius: 9px;
    font-size: 11px;
    text-align: center;
    white-space: nowrap;
    background-color: #c2c8d1;
    color: #fff
}

.panel-btn.share-btn:after {
    display: block;
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%
}

.panel-btn.share-btn:hover .share-popup {
    display: flex
}

.panel-btn.share-btn .share-popup {
    display: none;
    position: absolute;
    top: 0;
    flex-direction: column;
    left: calc(100% + 14px);
    z-index: 30;
    background: #fff;
    border-radius: 4px;
    padding: 9px 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    box-shadow: 0 8px 24px rgba(81,87,103,.16)
}

.panel-btn.share-btn .share-popup:after {
    position: absolute;
    width: 0;
    height: 0;
    content: " ";
    right: 100%;
    top: 14px;
    border: 12px solid transparent;
    border-right-color: #fff
}

.panel-btn.share-btn .share-popup .share-item {
    display: flex;
    align-items: center;
    height: 44px;
    padding: 0 15px
}

.panel-btn.share-btn .share-popup .share-item:hover {
    background-color: #f2f3f5
}

.panel-btn.share-btn .share-popup .share-item:hover.wechat .wechat-qrcode {
    display: flex
}

.panel-btn.share-btn .share-popup .share-item:hover .share-icon {
    color: #515767
}

.panel-btn.share-btn .share-popup .share-item .share-item-title {
    margin-left: 8px;
    font-size: 14px;
    color: #515767
}

.panel-btn.share-btn .share-popup .share-item .share-icon {
    color: #8a919f;
    width: 20px;
    height: 20px;
    font-size: 1.67rem
}

.share-title {
    margin: 2.5rem 0 1rem;
    font-size: 1rem;
    text-align: center;
    color: #c6c6c6;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.collect-popover {
    width: 200px;
    box-sizing: border-box;
    background-color: #fff;
    padding: 12px 20px;
    border-radius: 4px;
    font-size: 13px;
    color: #8a919f;
    line-height: 22px;
    text-align: left;
    position: absolute;
    left: 4rem;
    top: -10px;
    margin-left: 15px;
    box-shadow: 0 8px 24px rgba(81,87,103,.26)
}

.collect-popover:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 12px solid #fff;
    border-left: 12px solid #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 30px;
    left: -6px
}

.collect-popover-title {
    color: #252933;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 4px
}

.collect-popover-content {
    display: flex;
    flex-direction: row
}

.collect-popover-button {
    color: #1e80ff;
    font-weight: 500;
    cursor: pointer;
    margin-right: 4px
}

.sprite-icon {
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: middle;
    transition: all .15s linear
}