/*技术派的整体色系*/
body {
  /*正常色*/
  --pai-brand-1-normal: #ff6900;
  /*鼠标放上去后的颜色*/
  --pai-brand-2-hover: #ff8721;
  /*点击后激活后的颜色*/
  --pai-brand-3-click: #f59e2f;
  /*不可用的颜色*/
  --pai-brand-4-disable: #abcdff;
  /*备用色 非常深的颜色*/
  --pai-brand-5-bak: #fe6617;
  /*颜色白色*/
  --pai-color-1-normal: #fff;
  /*浅灰色*/
  --pai-color-2-gray: #999;
  /*偏黑色*/
  --pai-color-3-black: #212529;
  /*背景色*/
  --pai-bg-white: #eeeeee;
  /*背景色浅一点*/
  --pai-bg-dark-1: #373d41;
  /*主题色深一点*/
  --pai-bg-dark-2: #2c3134;
  /*主题色更深一点*/
  --pai-bg-dark-3: #000000;
  /*高度*/
  height: 100vh;
  /*外边距*/
  margin: 0;
  /*溢出后隐藏*/
  overflow: hidden;
}

/*全局的色调往前面放*/
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

html, .custom-bg-color {
  background-color: var(--pai-bg-white);
}

a {
  color: var(--pai-color-3-black);
}

a:hover {
  text-decoration: none;
  color: var(--pai-brand-2-hover);
}

/*需要背景色主动添加*/
.bg-color {
  background-color: #f5f5f7;
}

.home {
  overflow: auto;
  height: calc(100vh - 60px);
}

.home-wrap {
  min-height: calc(100% - 90px);
  padding-top: 20px;
}

.home-inter-wrap {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

.home-body {
  flex: 1;
  margin-right: 20px;
  background-color: #fff;
  padding-left: 20px;
  margin-bottom: 20px;
}

.home-body-nav {
  color: #262626;
}

.home-right {
  width: 24%;
  border-radius: 20px;
  position: relative;
}

.home-right .card, .home-right .home-right-item-wrap {
  margin-bottom: 0;
  border-bottom: 1px solid #f2f3f5;
  border-radius: 0;
}

/*评论*/
.custom-empty {
  text-align: center;
  margin-top: 20px;
  width: 100%;
  font-size: 1rem;
}

/*页面整体的背景色*/
.posts-comment-input-box,
.posts-author-box,
.posts-box,
.page-box,
.user-info-box {
  background-color: #fff;
}

.btn-outline-primary:hover,
.page-item.active .page-link,
.current-page {
  color: #fff !important;
}

.bottom-line,
.list-group,
.editor-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.faq-solution-box,
.posts-comment-input-box {
  background-color: #fafbfc;
}

.posts-comment-input-box {
  margin-top: -20px;
}

.posts-comment-box,
.posts-author-box,
.posts-box,
.editor-form-box,
.editor-title,
.card-body,
.card-header {
  padding: 20px;
}

.type-box {
  padding: 10px;
}

.tag-box,
.no-comment-box,
.posts-author-box,
.posts-box,
.card,
.user-info-box,
.page-box,
.carousel {
  margin-bottom: 0px;
}

/*按钮*/
.custom-theme-bg-color,
.btn-outline-primary:hover,
.page-item.active .page-link,
.current-page,
.btn-primary,
.btn-primary:active,
.btn-primary:focus {
  border-color: var(--pai-brand-1-normal);
  background-color: var(--pai-brand-1-normal);
}

.btn-primary:hover {
  border-color: var(--pai-brand-2-hover);
  background-color: var(--pai-brand-2-hover);
}

.btn-primary:focus {
  border-color: var(--pai-brand-2-hover);
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: var(--pai-brand-2-hover);
  border-color: var(--pai-brand-2-hover);
}

.page-link,
.page-link:hover,
.btn-outline-primary,
.posts-admin-tag-official,
.custom-font-color {
  color: #007fff;
}

.dropdown-menu,
.card {
  border: 0;
}

.input-group-text,
.navbar-toggler,
.modal-content,
.card {
  margin-bottom: 10px;
}
.form-control,
.btn,
.dropdown-menu,
.list-group-item:first-child,
.list-group-item:last-child,
.pagination {
  border-radius: 0;
}

.posts-list-desc{
  color: rgba(0, 0, 0, 0.87);
}

.custom-by-both {
  padding-left: 10px;
  padding-right: 10px;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.foot {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
}

.foot-link {
  list-style: none;
  padding: 25px 0;
  width: 80%;
  margin: 0 auto;
  text-align: left;
  font-size: 0;
}

.foot li {
  font-size: 14px;
  padding: 0 10px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1em;
}

.foot li:last-child {
  border-left: none;
  float: right;
  padding-right: 0;
}

.posts-list-desc {
  display: inline;
  max-height: 48px;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.posts-list-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.85);
}

.posts-list-payload-item,
.posts-list-payload-item a,
.posts-list-payload-box-author {
  color: #6c757d !important;
}

.posts-list-payload-item {
  padding: 3px 8px;
}

.page-box {
  padding: 10px;
}

.faq-solution-box {
  margin-top: 10px;
  padding: 15px;
}

.faq-solution-box,
.posts-list-desc {
  font-size: 13px;
  line-height: 24px;
}

.posts-admin-tag {
  margin-top: 4px;
  height: 16px;
  padding: 2px;
  border-radius: 2px;
  line-height: 1;
  font-size: 12px;
  margin-right: 6px;
  vertical-align: middle;
  -webkit-transform: translateY(1px);
  -ms-transform: translateY(1px);
  transform: translateY(1px);
}

.posts-admin-tag-official {
  background: rgba(101, 212, 117, 0.1);
}

.posts-admin-tag-top {
  color: #f85959;
  background: rgba(248, 89, 89, 0.1);
}

.posts-admin-tag-marrow {
  color: #3c8cff;
  background: rgba(60, 140, 255, 0.1);
}

.selected-domain {
  border-bottom: 0 solid #3973ff;
}

.selected-domain a {
  /* color: #3973ff; */
}

.user-info-box {
  height: 200px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.user-info-date-box {
  height: 80px;
  padding-top: 40px;
  padding-left: 40px;
}

.user-info-date-box > p {
  display: inline-block;
}

.user-info-desc-box {
  margin-top: 15px;
  padding-left: 40px;
  padding-right: 40px;
}

/* 覆盖框架默认样式 */
.navbar {
  padding: 0.5rem 4rem;
}

.container-bg-light {
  background: #ffffff;
}

.input-icon {
  position: relative;
}

.input-icon input {
  border-radius: 26px;
}

.input-icon-addon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2.5rem;
  color: rgb(179 174 174 / 60%);
  pointer-events: none;
  font-size: 1.2em;
}

.input-icon .form-control:not(:first-child),
.input-icon .form-select:not(:last-child) {
  padding-left: 2.5rem;
}

.list-group-item {
  border: none;
  padding: 0.75rem 1.25rem;
}

.btn {
  padding-left: 25px;
  padding-right: 25px;
}

.btn-sm {
  padding-left: 15px;
  padding-right: 15px;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border-radius: 0;
}

.comment-avatar-box {
  width: 40px;
  float: left;
}

.posts-comment-input-box-btn {
  width: 100%;
  display: none;
}

.posts-comment-input-box-textarea {
  padding: 4px 10px;
  font-size: 13px;
  line-height: 1.7;
}

.posts-comment-input-box-textarea,
.comment-content-box {
  width: calc(100% - 40px);
  float: right;
}

.best-answer {
  margin-left: 20px;
}

.best-answer:hover,
.reply-comment:hover {
  cursor: pointer;
}

.comment-content-box-title {
  font-size: 16px;
  color: #3d464d;
  font-weight: 300;
}

.comment-content-box-content {
  color: #505050;
  font-size: 14px;
  margin: 12px 0;
}

.comment-content-box-foot {
  color: #b2b2b2;
  font-size: 14px;
}

.navbar-count-msg-box {
  position: relative;
}

.navbar-count-msg {
  position: absolute;
  top: 8px;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f85959;
}

.nav-item {
  clear: both;
  margin: 0;
  padding: 5px 10px;
  color: rgba(0, 0, 0, 0.65);
  font-weight: 600;
  font-size: 1.1em;
  line-height: 22px;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.85);
}

.message-block {
  margin-right: 10px;
}

.third-oauth-login-box::before {
  content: "三方账号登录";
  position: absolute;
  left: 50%;
  bottom: 55px;
  font-size: 10px;
  transform: translateX(-50%);
  -webkit-transform: translate(-50%, -50%);
  padding: 0 10px;
  background-color: #fff;
}

.third-oauth-login-box {
  display: block;
  text-align: center;
}

/* 设备适配样式 */
@media (max-width: 768px) {
  html {
    padding-top: 68px;
  }

  .navbar {
    padding: 0.5rem 1rem;
  }

  .foot-link {
    padding: 10px 0;
  }

  .foot li {
    display: block;
    padding: 10px 0 0 0;
  }

  .foot li:last-child {
    float: none;
  }

  .tag-box,
  .no-comment-box,
  .posts-author-box,
  .posts-box,
  .card {
    margin-bottom: 10px;
  }
  .carousel .page-box,
  .user-info-box {
    margin-bottom: 10px;
  }

  .user-info-date-box {
    display: none;
  }

  .user-info-desc-box {
    padding-left: 10px;
    padding-right: 0;
  }

  .best-answer {
    margin-left: 10px;
  }

  .posts-comment-box,
  .posts-box,
  .editor-form-box,
  .card-body,
  .card-header,
  .list-group-item,
  .faq-solution-box,
  .editor-title {
    padding: 10px;
  }

  .type-box {
    padding: 0;
  }

  .posts-comment-input-box {
    margin-top: -10px;
  }

  .user-edit-btn {
    display: none;
  }

  .message-block {
    margin-right: 5px;
  }
}

.parent-wrapper {
  display: flex;
  background: #f2f3f5;
  border: 1px solid #e4e6eb;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0 12px;
  line-height: 36px;
  height: 36px;
  font-size: 14px;
  color: #8a919f;
  margin-top: 8px;
}

/*navbar*/
.navbar {
  height: 60px;
  /* border-bottom: 1px solid #dee2e6; */
  position: sticky;
  --tw-bg-opacity: 1;
  background-color: rgba(36, 41, 47, var(--tw-bg-opacity));
}

.nav-body {
  display: flex;
  min-width: 1200px;
  margin: 0 auto;
}

.nav-link {
  font-size: 18px;
  font-weight: 500;
}

.nav-link:hover {
  color: var(--pai-brand-2-hover);
}

.nav-article {
  font-weight: 500;
  height: 32px;
  font-size: 14px;
  display: flex;
  align-items: center;
  border-radius: 2px;
}

.nav-notice {
  display: flex;
  align-items: center;
}

.dropdown-toggle::after {
  display: none !important;
}

.nav-login-img {
  height: 36px;
  width: 36px;
}

.nav-login-menu {
  left: -20px;
  box-shadow: 0 0 24px rgb(81 87 103 / 16%);
  width: 224px;
  border-radius: 4px;
  padding: 20px;
  left: -200px;
}

.nav-login-head {
  display: flex;
  align-items: center;
  padding: 0;
}

.nav-link {
  color: #fff;
}

.logo {
  padding-top: 4px;
}

/*categories*/

.home-nav-classify {
  background-color: #fff;
}

.category--item {
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  line-height: 2.3rem;
  white-space: nowrap;
}

.category--item:hover {
  color: var(--pai-brand-2-hover);
}

.category--item:first-child {
  padding-left: 0;
}
.category--active {
  color: var(--pai-brand-1-normal);
}
.category-wrap {
  width: 1200px;
  margin: 0 auto;
  padding: 4px 0;
}

.search-has-result ul {
  margin-bottom: 0;
  list-style-type: none;
  padding: 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.77778rem;
  margin-top: 0;
}

.search-has-result ul li a {
  --tw-border-opacity: 1;
  border: 0 solid;
  border-bottom-width: 1px;
  border-color: rgba(127,125,131,var(--tw-border-opacity));
}

.search-has-result ul li span.text-sm {
  line-height: 2.4rem;
}

.hover\:bg-gray-400:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(127,125,131,var(--tw-bg-opacity));
}

.search-result-block .search-no-result mark {
  font-size: 1.2rem;
}

.category-search-btn, .category-cancel-btn {
  align-self: center;
  justify-items: center;
  background-color: transparent;
  background-image: none;
  border: none;
}

.category-search-btn:hover, .category-cancel-btn:hover {
  color: var(--pai-brand-2-hover);
}

.svg-inline--fa, svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.svg-inline--fa.fa-w-16 {
  width: 1.2em;
}

.svg-inline--fa.fa-w-14 {
  width: 1em;
}

.hidden {
  display: none;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.block {
  display: block;
}

.z-10 {
  z-index: 10;
}

.left-0 {
  left: 0;
}

.opacity-100 {
  opacity: 1;
}

.opacity-0 {
  opacity: 0;
}

.z-50 {
  z-index: 50;
}

.w-full {
  width: 100%;
}

.w-0 {
  width: 0;
}

.-ml-2 {
  margin-left: -0.5rem;
}

.justify-center {
  justify-content: center;
}

.lg\:max-w-lg {
  max-width: 32rem;
}

.lg\:text-primary-900 {
  --tw-text-opacity: 1;
  color: #007fff;
}

.lg\:py-1 {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}

.lg\:bg-transparent {
  background-color: transparent;
}

.text-sm {
  font-size: 1rem;
  line-height: 2rem;
}

.px-2\.5 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.border-search {
  border-width: 1px;
}

input:focus {
  border: 1px solid var(--pai-brand-3-click);
  outline: 1px solid var(--pai-brand-3-click);
}

.svg-inline--fa.fa-w-10 {
  width: 0.625em;
}

.border-gray-400 {
  --tw-border-opacity: 1;
  border-color: var(--pai-bg-dark-1);
}

.border-gray-500 {
  --tw-border-opacity: 1;
  border-color: var(--pai-bg-dark-2);
}

.text-gray-100 {
  --tw-text-opacity: 1;
  color: var(--pai-bg-dark-1);
}

.text-primary-300 {
  color: var(--pai-brand-1-normal);
}

.bg-gray-500 {
  --tw-bg-opacity: 1;
  background-color: var(--pai-bg-dark-1);
}

.border-b {
  border-bottom-width: 1px;
}

.border-w-1 {
  border-width: 1px;
}

.font-bold {
  font-weight: 700;
}

.search-no-result p {
  line-height: 2.6rem;
}

.inline-block {
  display: inline-block;
}
/*<!-- 筛选标签样式 -->*/


/*首页文章列表*/
.cdc-article-panel__list .cdc-article-panel {
  margin-bottom: 4px;
}

/*首页文章*/
.cdc-article-panel {
  box-sizing: border-box;
  padding: 16px 0;
  border-bottom: 1px solid #d6dbe3;
  position: relative;
  cursor: pointer;
  max-width: 872px;
  padding-right: 20px;
}

/*首页文章跳转详情链接*/
.cdc-article-panel__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

/*首页文章（除去 a 链接的部分）*/
.cdc-article-panel__inner {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-flow: row nowrap;
}
/*再套一层*/
.cdc-article-panel__main {
  min-width: 0;
  flex: 1 1 auto;
}

/*文章标题+推荐图标*/
.user-article-item-title-wrap {
  display: flex;
  align-items: center;
}

/*文章上的推荐图标*/
.article-card-top-img {
  margin-bottom: 12px;
  margin-right: 12px;
}

/*文章标题*/
.user-article-item-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #181818;
  margin-bottom: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*文章的简介描述*/
.cdc-article-panel__media {
  display: flex;
  align-items: center;
}

/*下一层*/
.cdc-article-panel__desc {
  font-size: 14px;
  line-height: 22px;
  color: #4b5b76;
  min-height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/*文章列表底部的数据（作者、日期、阅读、留言、点赞、文章标签）*/
.cdc-article-panel__infos {
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 20px;
}

/*作者*/
.cdc-article-panel__user {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 2;
}

/*作者头像 圆角*/
.cdc-avatar.circle, .cdc-avatar.circle .cdc-avatar__inner {
  border-radius: 50%;
}

/*作者头像大小*/
.cdc-avatar.large {
  width: 32px;
  height: 32px;
}

/*作者头像边距*/
.cdc-article-panel__user-avatar {
  flex-shrink: 0;
  margin-right: 8px;
}

/*作者头像*/
.cdc-avatar {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border-bottom-left-radius: 0;
  background-color: #d8d8d8;
}

/*头像的位置*/
.cdc-avatar__inner, .cdc-avatar__level {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
}

/*头像*/
.cdc-avatar.large .cdc-avatar__inner {
  font-size: 16px;
  line-height: 30px;
}

/*头像*/
.cdc-avatar__inner {
  display: block;
  width: 100%;
  height: 100%;
  background-position: bottom;
  background-size: auto 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  border-bottom-left-radius: 0;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  left: 50%;
  transform: translateX(-50%);
}

/*作者名*/
.cdc-article-panel__user-name {
  font-weight: 500;
  color: #000;
  line-height: 20px;
}
/*文章发布时间*/
.cdc-article-panel__user+.cdc-article-panel__date {
  margin-left: 12px;
}
/*文章发布时间的颜色位置*/
.cdc-article-panel__date {
  color: #97a3b7;
  position: relative;
}

/*发布时间前的显示方式*/
.cdc-article-panel__user+.cdc-article-panel__date:before {
  display: block;
}

/*发布时间前的小圆点*/
.cdc-article-panel__date:before {
  content: "";
  position: absolute;
  top: 9px;
  left: -7px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: rgba(151,163,183,.9);
  display: none;
}

/*时间留言点赞*/
.cdc-icon__list {
  margin-right: -24px;
}

/*时间留言点赞*/
.cdc-article-panel__operate {
  margin-left: 24px;
}
/*时间留言点赞大小*/
.read-comment-praise{
  height: 16px;
  width: 16px;
}

/*数量的大小颜色*/
.cdc-icon__number {
  vertical-align: middle;
  font-size: 12px;
  line-height: 20px;
  color: #97a3b7;
  margin-left: 6px;
}

/*时间留言点赞*/
.article-show-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--pai-color-2-gray);
  cursor: pointer;
  position: relative;
  margin-right: 24px;
}

/*文章标签*/
.cdc-article-panel__tags {
  position: absolute;
  right: 0;
  bottom: 5px;
  z-index: 2;
}

/*标签的对齐方式*/
.cdc-tag-links {
  display: flex;
  align-items: center;
}

/*标签的图标*/
.cdc-tag-links__icon {
  display: block;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  background: url(../media/icon-tag.89f130c4.svg) 50% no-repeat;
  margin-right: 8px;
}

/*标签的位置*/
.cdc-tag-links__items {
  display: flex;
  align-items: center;
  margin: 0 -12px;
}

/*标签的大小*/
.cdc-tag-links__item {
  display: block;
  margin: 0 12px;
  font-size: 12px;
  line-height: 20px;
  color: #97a3b7;
}

/*文章封面图*/
.cdc-article-panel__object {
  flex-shrink: 0;
  margin-left: 20px;
  width: 180px;
  position: relative;
}

.cdc-article-panel__object-thumbnail {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100%;
  height: auto;
  padding-top: 54.6667%;
}

.cdc-article-panel:hover .user-article-item-title {
  color: var(--pai-brand-2-hover);
}
/*<!-- 文章列表样式 -->*/

.user-left-wrap {
  background: linear-gradient(
          203.77deg,
          rgba(44, 128, 255, 0.2) -31.27%,
          rgba(44, 128, 255, 0) 54.55%
  ),
  linear-gradient(
          35.19deg,
          rgba(255, 203, 154, 0.7) -24.65%,
          rgba(255, 255, 255, 0) 38.1%
  ),
  rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  padding-top: 27px;
  padding-bottom: 24px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-head-img {
  width: 86px;
  height: 86px;
  border-radius: 50%;
}

.user-head-name {
  font-weight: 500;
  font-size: 26px;
  line-height: 120%;
  color: rgb(51, 51, 51);
  margin: 8px 0px;
}

.user-num-wrap {
  margin: 40px auto;
  width: 192px;
  height: 63px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-head-num-wrap {
  display: flex;
  flex-direction: column;
}
.user-head-num {
  font-weight: 600;
  font-size: 32px;
  height: 42px;
  line-height: 42px;
  color: rgb(51, 51, 51);
  margin-bottom: 4px;
  text-align: center;
}
.achievement-wrap,
.process-wrap {
  background-color: rgb(255, 255, 255);
  padding: 32px;
  border-radius: 8px;
  margin-bottom: 16px;
  overflow: hidden;
}

.achievement-title,
.process-title {
  font-size: 20px;
  line-height: 24px;
  color: rgb(51, 51, 51);
  font-weight: 600;
  margin-bottom: 24px;
}
.achievement-item {
  height: 32px;
  line-height: 32px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.achievement-item span {
  font-weight: 500;
}
/*<!-- 个人主页 -->*/

.detail-user-wrap {
  background-color: #fff;
  padding: 32px;
  border-radius: 8px;
  background-position: 100% 0;
  background-repeat: no-repeat;
  margin-bottom: 16px;
  overflow: hidden;
}
.detail-user-head-wrap {
  display: flex;
  align-items: center;
  padding-bottom: 18px;
  margin-bottom: 18px;
  border-bottom: 1px solid #f0f0f0;
}
.detail-user-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  color: #333;
  flex: 1 1;
  word-break: break-all;
}
.detail-user-look {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 28px;
  padding: 0 11px;
  height: 20px;
  border-radius: 20px;
  font-size: 12px;
  color: #3973ff;
  border: 1px solid #3973ff;
  cursor: pointer;
}
.detail-user-head {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  margin-right: 10px;
}
.detail-user-head-list {
  color: #666;
}

.detail-user-head-list div {
  margin-bottom: 8px;
}

/* 详情主体样式 */
.detail-content-title {
  color: rgba(0, 0, 0, 0.85);
  font-size: 26px;
  line-height: 31px;
  vertical-align: bottom;
  margin-bottom: 12px;
}

.detail-content-title-other-wrap {
  font-size: 14px;
  display: flex;
  align-items: center;
  color: var(--pai-color-2-gray);
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #f0f0f0;
}

.detail-content-title-other-img {
  height: 22px;
  width: 22px;
  border-radius: 50%;
}
.detail-content-title-other-name {
  color: #62749f;
  margin-left: 8px;
  margin-right: 16px;
}
.detail-content-title-other-time {
  margin-right: 16px;
}

.detail-content-title-other-look {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 28px;
  padding: 0 11px;
  height: 20px;
  border-radius: 20px;
  font-size: 12px;
  color: #3973ff;
  border: 1px solid #3973ff;
  cursor: pointer;
}
.detail-content-title-edit a {
  color: #3973ff;
  padding-left: 1em;
}

<!-- 文章详情 -->

/*category 文件中的*/

.home-body {
  flex: 1;
  margin-right: 20px;
  border-radius: 8px;
}

.home-right {
  width: 30%;
  border-radius: 20px;
}


/* 首页右侧列表 */
.home-right-item-wrap {
  background-color: #fff;
  overflow: hidden;
  padding: 20px;
  margin-bottom:20px !important;;
}
.home-right-item-icon {
  height: 18px;
  width: 18px;
  position: relative;
}
.home-right-item-first {
  padding-top: 16px;
}
.home-right-item-title {
  margin-bottom: 24px;
  left: 20px;
  top: 16px;
}

.home-right-item-article-item,
.home-right-item-post-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.home-right-item-post-title {
  flex: 1 1;
}
.home-right-item-post-time {
  color: #adb5bd;
  font-size: 14px;
}
.home-right-item-article-title-txt {
  flex: 1 1;
  font-size: 16px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

.home-right-item-article-item i {
  flex-shrink: 0;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.06);
  margin-right: 8px;
}
.home-right-item-about-content {
  text-align: justify;
  font-size: 14px;
  line-height: 180%;
  color: #333;
}
.home-QR-title {
  display: flex;
  border-bottom: 1px #f0f0f0 solid;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.home-QR-title-img {
  height: 24px;
  width: 24px;
  float: left;
  margin-right: 6px;
}
.home-QR-title-code {
  width: 57px;
  height: 57px;
}
.home-QR-title-wrap {
  flex: 1;
}
.home-QR-title-content {
  font-size: 20px;
  height: 24px;
  line-height: 120%;
  color: #333;
  font-weight: 600;
  margin-bottom: 12px;
}
.home-QR-title-content-other {
  font-size: 14px;
  color: #333;
}
.home-QR-content {
  display: flex;
  flex-direction: column;
}
.home-QR-content span {
  font-size: 14px;
  line-height: 25px;
  color: #333;
}

/*侧边栏的背景图*/
.home-right-item-wrap.hot-article,
.home-right-item-wrap.notice,
.home-right-item-wrap.column{
  padding: 0;
  --tw-bg-opacity: 1;
  background-color: rgba(255,255,255,var(--tw-bg-opacity));
}

.hot-article-bg,
.notice-bg,
.column-bg {
  height:74px;
  margin-top:-10px;
}

.hot-article .home-right-item-article-list .home-right-item-article-item:nth-child(-n+3) i {
  background: var(--pai-brand-5-bak);
}

.hot-article .home-right-item-article-list .home-right-item-article-item i {
  height: 18px;
  width: 18px;
  line-height: 18px;
  background: #ccd0d7;
  color: #fff;
  display: inline-block;
  text-align: center;
}

.hot-article-content,
.notice-content,
.column-content{
  padding: 20px;
  margin-top: -20px;
}

.home-right-item-post-list a:hover, .home-right-item-article-list a:hover {
  color: var(--pai-brand-2-hover);
}

.com-2-side-activity-desc {
  margin-top: 4px;
  font-size: 14px;
  line-height: 24px;
  color: var(--pai-color-2-gray);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  max-height: 48px;
}

.c-btn-small, .c-btn.s, .c-btn.small {
  height: 28px;
  line-height: 26px;
  min-width: 66px;
  padding: 0 5px;
  font-size: 12px;
}

.com-2-side-activity-title {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*星球海报*/
.com-2-panel-subhd {
  position: relative;
  margin-top: 20px;
  margin-bottom: 12px;
  line-height: 20px;
  color: var(--pai-color-2-gray);
}

.com-2-panel-subhd:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
}
.com-2-panel-subtitle {
  font-size: 12px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  max-width: 100%;
  font-weight: 400;
  padding-right: 8px;
  background-color: #fff;
}

.com-event-panel.without-margin {
  margin-bottom: 0;
}
.com-event-panel-inner {
  box-sizing: border-box;
  display: table;
  width: 100%;
  table-layout: fixed;
}
.com-event-panel-l .com-event-panel-object {
  display: block;
  width: auto;
}
.com-event-panel-l.theme2 .com-event-panel-img {
  width: 100%;
  height: auto;
}

/*精选教程*/
.com-media {
  margin-bottom: 20px;
  display: table;
  table-layout: fixed;
  width: 100%;
  box-sizing: border-box;
}

.com-2-side-topics.without-margin>li:last-child .com-side-topic {
  margin-bottom: 0;
}

.com-media-object {
  display: table-cell;
  vertical-align: middle;
  padding-right: 20px;
  box-sizing: content-box;
  width: 40px;
}

.com-side-topic .com-media-object {
  padding-right: 12px;
  width: 60px;
  vertical-align: middle;
}

.com-media-body {
  display: table-cell;
  vertical-align: top;
  box-sizing: border-box;
}

.com-side-topic .com-media-body {
  vertical-align: middle;
}

.com-thumbnail {
  display: block;
  width: 236px;
  height: 177px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.com-side-topic .com-thumbnail {
  width: 60px;
  height: 60px;
}

.com-side-topic-title {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.com-side-topic-desc {
  margin-top: 4px;
  font-size: 14px;
  line-height: 24px;
  color: var(--pai-color-2-gray);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  max-height: 48px;
}

/*首页侧边栏*/

/*侧边栏的 title*/
.home-right-item-wrap .com-2-panel-title {
  font-size: 18px;
}

/*侧边栏*/

.col-body {
  box-sizing: border-box;
  margin: 30px auto 60px;
  padding: 0 10px;
  max-width: 1200px;
}
.pg-2-article {
  margin-top: 20px;
}

.com-3-layout {
  display: table;
  table-layout: fixed;
  margin-bottom: 60px;
  box-sizing: border-box;
  width: 100%;
}

.com-3-layout>.layout-main {
  display: table-cell;
  vertical-align: top;
  padding-left: 20px;
}

.com-3-layout>.layout-main:first-child {
  padding-right: 20px;
  padding-left: 0;
}

.pg-2-article .com-3-layout>.layout-main, .pg-2-article .com-crumb {
  padding-left: 60px;
}

.com-3-layout>.layout-side {
  display: table-cell;
  vertical-align: top;
  width: 300px;
}
.com-2-panel {
  margin-bottom: 20px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #e5e8ed;
  padding: 32px;
  box-shadow: 0 2px 4px 0 rgb(3 27 78 / 6%);
}
/*作者介绍*/
.com-2-panel.side {
  padding: 20px;
}

.com-2-panel.side .com-2-panel-hd {
  margin-bottom: 20px;
}
.com-2-panel.side .com-2-panel-title {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}

.com-author-intro {
  text-align: center;
}

.com-author-intro-object {
  margin-bottom: 20px;
}

.com-author-intro-name {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 26px;
}
.com-author-intro-btns {
  margin-top: 20px;
  font-size: 0;
}

.com-author-intro-infos {
  margin-top: 28px;
  padding-top: 15px;
  border-top: 1px solid #e5e5e5;
  font-size: 0;
}
/*头像*/
.com-author-intro-avatar:only-child {
  margin-bottom: 0;
}
.com-author-intro-avatar {
  display: block;
  margin: 0 auto -11px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-position: 50%;
  background-repeat: repeat;
  background-size: cover;
  background-color: #d1d4db;
  box-sizing: border-box;
  border: 1px solid #d1d4db;
}

.join-days {
  font-size: 12px;
  color: var(--pai-color-2-gray);
}

a:hover .join-days {
  color: inherit;
}

/*作者介绍区域的一个小背景*/
.com-2-panel.internal:before {
  content: "";
  position: absolute;
  width: 111px;
  height: 138px;
  background: url(../img/icon-decorate_edc.svg) 50% no-repeat;
  top: -2px;
  right: -20px;
}

.com-2-panel.internal {
  position: relative;
  overflow: hidden;
}

/*加入天数*/
.com-author-intro-desc {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  max-width: 100%;
  padding-right: 20px;
  font-size: 12px;
  line-height: 18px;
  color: var(--pai-color-2-gray);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.com-verification {
  position: relative;
  top: -1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  font-size: 0;
  vertical-align: middle;
  margin: -1px 3px 0;
  line-height: 12px;
}

.com-author-intro-desc .com-verification {
  position: absolute;
  right: 0;
  top: 3px;
}

.com-verification .verified {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url(../img/icon-verified_804.svg);
}

/*取消关注*/
.com-author-intro-btns .c-btn {
  min-width: 88px;
  margin: 0 5px;
}

.c-btn {
  height: 32px;
  min-width: 88px;
  padding: 0 16px;
  background-color: var(--pai-brand-1-normal);
  border: 1px solid transparent;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  outline: 0 none;
  box-sizing: border-box;
  border-radius: 0;
}

.c-btn:hover {
  text-decoration: none;
  background-color: var(--pai-brand-2-hover);
}

/*教程*/
.c-btn-hole, .c-btn-hole:hover {
  border: 1px solid var(--pai-brand-2-hover);
  color: var(--pai-brand-2-hover);
}

.c-btn-hole {
  background-color: transparent;
  line-height: 30px;
}

.c-btn-hole:hover {
  background-color: 	rgba(255,105,0,0.15)
}

/*阅读和点赞*/
.com-author-intro-info {
  display: inline-block;
  vertical-align: top;
  width: 24%;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  color: var(--pai-color-2-gray);
  padding-top: 5px;
  padding-bottom: 5px;
}

.com-author-intro-info-link {
  display: block;
  color: inherit;
  margin: -5px 0;
  padding: 5px 0;
}

.com-author-intro-info-num {
  margin-top: 4px;
  font-size: 16px;
  line-height: 28px;
  height: 28px;
  font-weight: 500;
}

.com-author-intro-info-link:hover {
  background-color: #f3f5f9;
}

.col-2-article {
  position: relative;
  word-wrap: break-word;
}

/* 文章部分 */
.detail-head-img {
  width: 100%;
  max-height: 432px;
  object-fit: cover;
}

/*文章标题*/
.article-info-title {
  font-size: 26px;
  line-height: 31px;
  vertical-align: bottom;
  margin-bottom: 12px;
}
/*原创标签*/
.com-2-mark-triangle {
  position: relative;
  width: 48px;
  height: 48px;
  line-height: 18px;
  font-weight: 500;
  color: #ff7800;
  font-size: 12px;
}

.com-2-mark-triangle:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-color: #faece0 #faece0 transparent transparent;
  border-style: solid;
  border-width: 24px;
}

.col-2-article .article-mark {
  position: absolute;
  right: 0;
  top: 0;
}

.com-2-mark-triangle .mark-cnt {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 2;
  margin-top: -16px;
  margin-right: -8px;
  width: 100%;
  text-align: center;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}


/*文章详情页*/


.home-carouse-wrap {
  background-color: #346;
  padding: 20px;
}

.home-carouse-inter-wrap {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.home-carouse-item {
  flex: 1;
  transition: all 0.2s ease 0s;
  box-shadow: 0 6px 12px 0 rgb(0 0 0 / 25%);
}

.home-carouse-item img {
  width: 100%;
  height: 150px;
}

.home-carouse-item-body {
  background-color: #fff;
  padding: 20px;
  height: 160px;
}

.home-carouse-item-title {
  font-size: 18px;
  font-weight: 700;
  height: 58px;
  margin-bottom: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.home-carouse-item-dot {
  display: inline-block;
  background-color: #a2a2a2;
  border-radius: 100%;
  height: 8px;
  width: 8px;
  margin-right: 4px;
}

.home-carouse-item-tag {
  display: flex;
  align-items: center;
  color: #a2a2a2;
  font-size: 14px;
}

.home-carouse-item-first-text {
  font-weight: 900;
  padding: 0 8px;
  align-items: center;
  position: relative;
}

.home-carouse-item-tag .home-carouse-item-first-text:not(:last-child):after {
  position: absolute;
  right: -1px;
  display: block;
  content: " ";
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #4e5969;
}

.home-carouse-item-tag .author {
  padding-left: 8px;
  color: #a2a2a2;
}

.home-carouse-item:hover {
  transform: translateY(-4px);
}

/*recommend-articles*/