.user-left-wrap {
  background: linear-gradient(
      203.77deg,
      rgba(44, 128, 255, 0.2) -31.27%,
      rgba(44, 128, 255, 0) 54.55%
    ),
    linear-gradient(
      35.19deg,
      rgba(255, 203, 154, 0.7) -24.65%,
      rgba(255, 255, 255, 0) 38.1%
    ),
    rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  padding-top: 27px;
  padding-bottom: 24px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-head-img {
  width: 86px;
  height: 86px;
  border-radius: 50%;
}

.user-head-name {
  font-weight: 500;
  font-size: 26px;
  line-height: 120%;
  color: rgb(51, 51, 51);
  margin: 8px 0px;
}

.user-num-wrap {
  margin: 40px auto;
  width: 192px;
  height: 63px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-head-num-wrap {
  display: flex;
  flex-direction: column;
}
.user-head-num {
  font-weight: 600;
  font-size: 32px;
  height: 42px;
  line-height: 42px;
  color: rgb(51, 51, 51);
  margin-bottom: 4px;
  text-align: center;
}
.achievement-wrap,
.process-wrap {
  background-color: rgb(255, 255, 255);
  padding: 32px;
  border-radius: 8px;
  margin-bottom: 16px;
  overflow: hidden;
}

.achievement-title,
.process-title {
  font-size: 20px;
  line-height: 24px;
  color: rgb(51, 51, 51);
  font-weight: 600;
  margin-bottom: 24px;
}
.achievement-item {
  height: 32px;
  line-height: 32px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.achievement-item span {
  font-weight: 500;
}
