<div th:each="column : ${vo.columns.list}" th:if="${column.count.articleCount != 0}">
    <div th:replace="components/column/column-card :: column_card(${column})">
        专栏详情
    </div>
</div>
<script>
    // 倒计时
    let cntDivs = document.getElementsByClassName('count-down-text');
    for (let i = 0; i < cntDivs.length; i++) {
        const target = cntDivs[i];
        console.log("Target:", target.dataset.freeEndtime)
        target.innerHTML = showtime(target.dataset.freeEndtime)
        setInterval(function () {
            target.innerHTML = showtime(target.dataset.freeEndtime)
        }, 1000)
    }
</script>
