.article-edit-search {
  margin-bottom: 16px;

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__search {
    flex: 1;
    display: flex;
    justify-content: space-between;

    &-wrap {
      display: flex;
    }
  }

  &__search-item {
    margin-right: 28px;
  }

  &-label {
    margin-right: 12px;
  }
}
