.global-config-search {
  margin-bottom: 16px;

  &__wrap {
    display: flex;
    justify-content: space-between;
    padding-left: 48px;
  }

  &__search {
    flex: 1;
    display: flex;
		justify-content: space-between;
		&-wrap {
			display: flex;
		}
  }

  &__search-item {
    margin-right: 48px;
  }

  &-label {
    margin-right: 12px;
  }
}
